body {
    background: #f3f2ef;
    width: 70%;
    margin: 0 auto;
}
#motto {
    text-align: center;
    color: green;
}

#top-menu-bar {
    text-align: center;
    background-color: rgba(169, 169, 169, 0.918);
    
}

#top-menu-bar li {
    display: inline;
    margin: 0;  
    padding: 0;
    color: darkgoldenrod;
}

#top-menu-bar a {
    text-decoration: none;
    padding: 0 15px 0 15px;
    color: white;
    margin: 2px 0;
    border: 1px
}

#top-menu-bar a:visited { 
    color: white;
}

.page {
    background: white;
    border: 1px solid #e0dfdc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    display: none
}
#top-menu-bar a:hover,
#top-menu-bar a.active {
    color: darkblue;
    background: white;
}    

#skill li span {
    font-weight: normal;
    color: gray;
    font-style: normal;
    font-size: 0.8em;
    border-radius: 50%;
    display: inline-block;
}


.favorit {
    color: rgb(7, 189, 196);
    font-weight: bold;      
    font-style: italic;
}

td {
    padding:3px 10px;
    color: blue;
}
